UL.likes LI:before {
  content: '+ ';
}

UL.likes LI.no-prefix:before {
  content: '';
}

UL.dislikes LI:before {
  content: '- ';
}

UL.dislikes LI.no-prefix:before {
  content: '';
}

.message {
  margin-bottom: 1em;
}