
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

LI.like {
  background-color: #cdffe1;
}
LI.like:before {
  content: 'mag: ';
}

LI.dislike {
  background-color: #ffcdcd;
}
LI.dislike:before {
  content: 'mag nicht: ';
}
